/******************** Reset ********************/
/***********************************************/

:root {

   --black-p: rgba(0, 0, 0, 1);
   --white-p: rgba(255, 255, 255, 1);

   --darkgrey-p: rgba(62, 58, 55, 1);
   --lightgrey-p: rgba(248, 248, 248, 1);
   --blue-p: rgba(47, 69, 204, 1);
   --green-p: rgba(4, 223, 107, 1);

   --header-h: 5rem;

}

img {

   max-width: 100%;

}

a {
   display: inline-block;
   color: inherit;
   text-decoration: none;
   cursor: pointer;
}

ul {
   list-style-type: none;
}


/******************** Fonts ********************/
/***********************************************/

.poppins-regular {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
}

.montserrat-regular {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   line-height: 1.24;

}


/******************** Custom Style ********************/
/******************************************************/

header {

   height: var(--header-h);
   background-color: aqua;

   img {
      height: calc(var(--header-h) - 1rem);
   }

}

main {

   margin-top: calc(var(--header-h) + 20px);
   /* background-color: blueviolet; */

   #jumbotron {

      .bg-duck {

         background-image: url('../imgs/banner-bg.png');
      }

      .ms-bg-dark {

         background: none;

         &:hover {

            color: var(--white-p);
            background: var(--darkgrey-p);

         }
      }

   }

   #ducks {

      background: var(--lightgrey-p);

      .ms-text-price {

         color: var(--green-p);

      }

   }

   #features {

      .ms-text-plus {

         color: var(--blue-p);

      }

   }

}